body{
font-size: 25px;/*taille de police: 25pixels*/
}

h1{
    background-color: darkslategrey;/*couleur de fond*/
    color: white;/* couleur du texte*/
}
section p{
    color: red;/* tous le <p> à l'intérieur de la balise <sectionW */
}

sectionp:first-child{
    color:  darkviolet;/* 1er p dans section*/
}

section p:last-child{
    color: lightpink;/*dernier p dans section*/
}

section p:nth-child(even){
    color: lightskyblue;/*numéro de l'enfant*/ /* les p pairs */
}

section p:nth-child(odd){
    color: orchid;/*numéro de l'enfant*/ /* les p impaires*/
}

section p:nth-child(3), section p:nth-child(10){/*deux selecteurs séparés par une virgule les numéro 3 et 10*/
    color: orange;
}
.zone1{/*class donc avant son nom je mets un . */
    color:#dc143c;
}
.zone2{
    color: #008080;
}
.lime{
    color: #00ff00;
}

#zone3{/*ID donc avant son nom je mets un # */
    background-color: #f5deb3;
}

.zone3::before{
    content:"rajouté avant";/*content est obligatoire,les contenus ne s'affiche pas dans le HTML => attention accesibilité, on peut le laisser vide on peut meme rajouter de attributs à une balise attr(title)*/
background-color: cyan;
    
}
#zone3::after{/* rajouter contenu après l'id zone3*/
    content:"rajouté apres";
}

li:nth-of-type(2){
    background-color: darkred;
    color: white;
}

.zone4 span{
    font-size: 40px;
}

/* sélectionnez le spam qui n'a pas de class et seulement lui pour appliquer du style (pas le droit de toucher au html)*/
span:not(.lime){
    font-weight: bold;
}